# Python venvs
.venv/
venv/
env/
.venv-*/
 
.venv/
.venv*/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
.Python

# 环境
.venv/
venv/

# 项目输出
outputs/logs/
outputs/models/*.zip
.DS_Store

# IDE
.vscode/
.idea/
